{% extends 'base.html' %}
{% block content %}

<h1 class="display-4">Secure App</h1>
<p class="lead">Register or Login to Access Secrets...</p>

<ul>
  {% if 'username' not in session %}
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
  {% endif %}

  {% if 'username' in session %}
    {% set username = session['username'] %}
    {% set redirect_url = url_for('user_profile', username=username) %}
    <script>window.location.href = "{{ redirect_url }}";</script>
  {% endif %}
</ul>

{% endblock %}