{% extends 'base.html' %}
{% block content %}

<h1 class="display-4">Update Feedback</h1>

<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="title" class="form-control-label">{{ form.title.label }}</label>
        {{ form.title(class="form-control", id="title") }}
        {% for error in form.title.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        <label for="content" class="form-control-label">{{ form.content.label }}</label>
        {{ form.content(class="form-control", id="content") }}
        {% for error in form.content.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Update Feedback</button>
</form>

{% endblock %}
